<!DOCTYPE html>
<html>
  <head>
    <title><%= 'NodePOP' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= NodePOP %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
