<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
    <header class="header">
        <h1><%= __('welcome_message') %></h1>
        <a href="/?lang=es">Español</a>
        <a href="/?lang=en">English</a>
        <h3>Tu tienda online de confianza</h3>
    </header>

    <nav class="nav-buttons">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/contact">Contact</a>
        <% if (session.isAuthenticated) { %>
            <a href="/products">
                <button type="button">Gestionar Productos</button>
            </a>
        <% } %>
    </nav>
    <footer class="footer">
        <p>&copy; 2024 NodePop - Todos los derechos reservados</p>
    </footer>
</body>
</html>
