<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <header class="header">
        <h1>Login</h1>
    </header>

    <form action="/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>

    <% if (typeof error !== 'undefined') { %>
        <p style="color: red;"><%= error %></p> <!-- Muestra el mensaje de error si existe -->
    <% } %>
    <footer class="footer">
        <p>&copy; 2024 NodePop - Todos los derechos reservados</p>
    </footer>
</body>
</html>
